/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

#blog {
    .blog-header {
        margin-bottom: 20px;
        border-bottom: 1px solid #dfdfdf;
        padding-bottom: 15px;

        .blog-title {
            color: $color-slack2;
            font-weight: 500;
            margin-top: 0;
            display: inline-block;
            margin-bottom: 5px;
            font-size: 150%;
        }

        .blog-sub-title {
            letter-spacing: 0.02em;
            font-size: 90%;

            img.avatar-img {
                height: 24px;
                margin-right: 5px;
                vertical-align: middle;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                border-radius: 100%;
            }

            img.flag-img {
                height: 24px;
                margin-right: 5px;
                vertical-align: middle;
            }

            a, span {
                vertical-align: middle;
            }

            span.blog-author {
                margin-right: 20px;
                display: inline-block;
            }
        }
    }

    .blog-h1 {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 2px;
    }
}

#blogs-container {
    .blog-cell {
        margin-bottom: 40px;
        min-width: 350px;

        .blog-title {
            a {
                font-size: 20px;
                letter-spacing: 0.02em;
                font-weight: 700;
                color: $color-slack2 !important;
            }

            i.fas {
                color: $color-asphalt !important;
            }
        }

        .blog-excerpt {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 20px;
            margin-top: 5px;
        }

        .blog-footer {
            letter-spacing: 0.02em;
            font-size: 90%;

            img.avatar-img {
                height: 24px;
                margin-right: 5px;
                vertical-align: middle;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                border-radius: 100%;
            }

            img.flag-img {
                height: 24px;
                margin-right: 5px;
                vertical-align: middle;
            }

            a, span {
                vertical-align: middle;
            }

            span.blog-author {
                margin-right: 20px;
                display: inline-block;
            }
        }
    }
}