/*
 * "Commons Clause" License, https://commonsclause.com/
 *
 * The Software is provided to you by the Licensor under the License,
 * as defined below, subject to the following condition.
 *
 * Without limiting other conditions in the License, the grant of rights
 * under the License will not include, and the License does not grant to
 * you, the right to Sell the Software.
 *
 * For purposes of the foregoing, "Sell" means practicing any or all of
 * the rights granted to you under the License to provide to third parties,
 * for a fee or other consideration (including without limitation fees for
 * hosting or consulting/support services related to the Software), a
 * product or service whose value derives, entirely or substantially, from
 * the functionality of the Software. Any license notice or attribution
 * required by the License must also include this Commons Clause License
 * Condition notice.
 *
 * Software:    NLPCraft
 * License:     Apache 2.0, https://www.apache.org/licenses/LICENSE-2.0
 * Licensor:    Copyright (C) NLPCraft. https://nlpcraft.org
 *
 *     _   ____      ______           ______
 *    / | / / /___  / ____/________ _/ __/ /_
 *   /  |/ / / __ \/ /   / ___/ __ `/ /_/ __/
 *  / /|  / / /_/ / /___/ /  / /_/ / __/ /_
 * /_/ |_/_/ .___/\____/_/   \__,_/_/  \__/
 *        /_/
 */

@font-face {
    font-family: 'CanaroBlack';
    src: url('../../fonts/rene_bieder_-_canaro_black-webfont.eot');
    src: url('../../fonts/rene_bieder_-_canaro_black-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/rene_bieder_-_canaro_black-webfont.woff') format('woff'),
        url('../../fonts/rene_bieder_-_canaro_black-webfont.ttf') format('truetype'),
        url('../../fonts/rene_bieder_-_canaro_black-webfont.svg#canaroblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CanaroBold';
    src: url('../../fonts/rene_bieder_-_canaro_bold-webfont.eot');
    src: url('../../fonts/rene_bieder_-_canaro_bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/rene_bieder_-_canaro_bold-webfont.woff') format('woff'),
        url('../../fonts/rene_bieder_-_canaro_bold-webfont.ttf') format('truetype'),
        url('../../fonts/rene_bieder_-_canaro_bold-webfont.svg#canaro_bookbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CanaroBook';
    src: url('../../fonts/rene_bieder_-_canaro_book-webfont.eot');
    src: url('../../fonts/rene_bieder_-_canaro_book-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/rene_bieder_-_canaro_book-webfont.woff') format('woff'),
        url('../../fonts/rene_bieder_-_canaro_book-webfont.ttf') format('truetype'),
        url('../../fonts/rene_bieder_-_canaro_book-webfont.svg#canarobook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CanaroExtraLight';
    src: url('../../fonts/rene_bieder_-_canaro_extralight-webfont.eot');
    src: url('../../fonts/rene_bieder_-_canaro_extralight-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/rene_bieder_-_canaro_extralight-webfont.woff') format('woff'),
        url('../../fonts/rene_bieder_-_canaro_extralight-webfont.ttf') format('truetype'),
        url('../../fonts/rene_bieder_-_canaro_extralight-webfont.svg#canaroextralight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CanaroMedium';
    src: url('../../fonts/rene_bieder_-_canaro_medium-webfont.eot');
    src: url('../../fonts/rene_bieder_-_canaro_medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/rene_bieder_-_canaro_medium-webfont.woff') format('woff'),
        url('../../fonts/rene_bieder_-_canaro_medium-webfont.ttf') format('truetype'),
        url('../../fonts/rene_bieder_-_canaro_medium-webfont.svg#canaromedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'StagSansLight';
    src: url('../../fonts/stagsans-light-webfont.eot');
    src: url('../../fonts/stagsans-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/stagsans-light-webfont.woff') format('woff'),
        url('../../fonts/stagsans-light-webfont.ttf') format('truetype'),
        url('../../fonts/stagsans-light-webfont.svg#stag_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}