---
---

/*
 * "Commons Clause" License, https://commonsclause.com/
 *
 * The Software is provided to you by the Licensor under the License,
 * as defined below, subject to the following condition.
 *
 * Without limiting other conditions in the License, the    grant of rights
 * under the License will not include, and the License does not grant to
 * you, the right to Sell the Software.
 *
 * For purposes of the foregoing, "Sell" means practicing any or all of
 * the rights granted to you under the License to provide to third parties,
 * for a fee or other consideration (including without limitation fees for
 * hosting or consulting/support services related to the Software), a
 * product or service whose value derives, entirely or substantially, from
 * the functionality of the Software. Any license notice or attribution
 * required by the License must also include this Commons Clause License
 * Condition notice.
 *
 * Software:    NLPCraft
 * License:     Apache 2.0, https://www.apache.org/licenses/LICENSE-2.0
 * Licensor:    Copyright (C) NLPCraft. https://nlpcraft.org
 *
 *     _   ____      ______           ______
 *    / | / / /___  / ____/________ _/ __/ /_
 *   /  |/ / / __ \/ /   / ___/ __ `/ /_/ __/
 *  / /|  / / /_/ / /___/ /  / /_/ / __/ /_
 * /_/ |_/_/ .___/\____/_/   \__,_/_/  \__/
 *        /_/
 */

/*
 * Constants.
 * ----------
 */
$font-size: 14px;
$default-font: "Helvetica Neue";

@import 'fonts';
@import 'colors';
@import 'misc';
@import 'header';
@import 'footer';
@import 'sh';
@import 'index';
@import '404';
@import 'buttons';
@import 'download';
@import 'three-cols';
@import 'basic-concepts';
@import 'use-cases';
@import 'server-and-probes';
@import 'metrics-and-tracing';
@import 'integrations';
@import 'blogs';

html {
    position: relative;
    min-height: 100%;
    height: 100%;
}

body {
    background-color: $background-color;
    color: $foreground-color;
    min-height: 100%;
    height: 100%;
}

em.high {
    font-style: normal;
    padding: 2px 4px 3px 4px;
    background-color: #d36da6;
    color: #fff;
    border-radius: 1px;
}


